@{
    ViewData["Title"] = "Home Page";
}

    <div class="xtext-center">

        <h2 style="padding-top:40px;">La atención más personalizada para tus animales en las mejores manos</h2>

        <ul style="padding-top:30px;font-size:15pt;font-style:italic;">

            <li style="padding-bottom:10px;">
                La mejor veterinaria especializada, enfocada a brindar servicios médicos y quirúrgicos aplicando las técnicas más actuales y equipo de vanguardia para diagnósticos precisos y tratamientos oportunos.
            </li>

            <li style="padding-bottom:10px;">
                Nuestro concepto lleva 4 años de experiencia en ejecución, sin embargo contamos con más de 10 años de experiencia laboral, destacando por el trato profesional y cordial con el que nuestros pacientes son atendidos.
            </li>

            <li style="padding-bottom:10px;">
                Nuestro staff médico está conformado por médicos veterinarios, certificados y profesionales que se actualizan día a día en las diversas técnicas y áreas médicas para el cuidado de su mascota, para proporcionarle a cada paciente la atención que se merece.
            </li>

            <li style="padding-bottom:10px;">
                Los médicos veterinarios suman sus esfuerzos para dar a nuestros pacientes un trato afectuoso y una atención médica de la más alta calidad <b>las 24 horas del día</b>.
            </li>

        </ul>

        <img src="../img/nuske.jpg" alt="Fondo home" style="width:100%;height:350px;">

    </div>
