@{
    ViewData["Title"] = "Nosotros";
}

    
    <div style="padding-top:40px;">
        <p style="font-size:20pt;"><b><u>Mision</u></b></p>
        <p style="font-size:15pt;">
            <i>
                Garantizar la salud y el bienestar animal protegiendo, tanto de manera directa como indirecta, la salud pública. El control de 
                las enfermedades animales y la información permiten que la población animal de nuestro entorno esté protegida y cuidada. Igualmente,
                la prevención de ciertas enfermedades zoonóticas es esencial en un entorno que comparten animales y personas.
            </i>
        </p>
    </div>

    <div>
        <p style="font-size:20pt;"><b><u>Vision</u></b></p>
        <p style="font-size:15pt;"><i>
            Ampliar nuestro marco de trabajo, poniendo a disposición de propietarios de animales y otros profesionales veterinarios 
            de todo el territorio español, nuestros medios y experiencia en el cuidado animal y manejo de ciertas patologías. Ser un 
            referente en cirugía láser en un marco geográfico más amplio y proporcionar la formación necesaria a otros profesionales para facilitarles su tarea diaria.
        </i></p>
    </div>

    <div style="font-size:15pt;">
        <p style="font-size:20pt;"><b><u>Valores</u></b></p>
        <p>
            <i>
                <b>Profesionalidad:</b> Buscamos siempre el mejor procedimiento, adaptándonos a las circunstancias individuales de cada caso.
            </i>
        </p>
        <p>
            <i>
                <b>Cercanía:</b> Centramos nuestro esfuerzo en la satisfacción del cliente, comprendiendo que, para la mayoría, su mascota es uno más de la familia.
            </i>
        </p>
        <p>
            <i>
                <b>Pasión:</b> Somos unos enamorados de nuestra profesión y eso nos hace desempeñarla con orgullo y entusiasmo.
            </i>
        </p>
        <p>
            <i>
                <b>Actualidad:</b> Nos comprometemos a estar en permanente formación, para ofrecer a nuestros pacientes siempre la mejor atención.
            </i>
        </p>
        <p>
            <i>
                <b>Responsabilidad:</b> Estamos concienciados de que nuestro trabajo repercute en la salud pública y en el bienestar de la sociedad.
            </i>
        </p>
    </div>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}